# CropVision — Plant Disease Detection
# Infotact DS/ML Internship — Project 2
# Week 1 Dependencies
 
tensorflow>=2.12.0
opencv-python>=4.7.0
Pillow>=9.5.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.2.0
jupyter>=1.0.0
kaggle>=1.5.13